/* GLOBAL */

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(226 232 240);
}

input {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.bg-slate-300 {
  background-color: rgb(203 213 225);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 60%;
  padding: 20px;
}

.modal-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.modal-space {
  padding: 60px;
}

.modal-form {
  display: flex;
  justify-content: space-between;
}

.modal-form2 {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.modal-row2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110px;
  justify-content: space-between;
  margin-left: 10px;
  /* border: thin solid green; */
}

.modal-form-inputs {
  display: flex;
  width: 100%;
}

.modal-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 180px;
  justify-content: space-between;
  margin-left: 10px;
  /* border: thin solid green; */
}

.modal-input1 {
  height: 50px;
  /* border: thin solid red; */
}

.modal-close {
  font-size: 30px;
}

.modal-input-box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(226 232 240);
  font-size: 20px;
}

.modal-input-textarea {
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(226 232 240);
  font-size: 20px;
  font-family: "Roboto", sans-serif !important;
}

/* SUBMIT BTN */

.modal-submit-btn {
  display: flex;
  justify-content: center;
}

.submit-btn {
  width: 180px;
  height: 50px;
  /* border: thin solid red; */
}

.button {
  /* background-color: rgb(52 211 153); */
  background-color: rgb(52 211 153);
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  /* padding: 15px 70px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  /* margin: 4px 2px; */
  cursor: pointer;
}

/* RESPONSIVE CSS */

@media only screen and (max-width: 600px) {
  .modal {
    width: 80%;
  }
  .modal-space {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .modal-form {
    flex-direction: column;
  }

  .modal-row {
    margin-left: 0 !important;
    margin-bottom: 10px;
  }

  .modal-form2 {
    flex-direction: column;
  }

  .modal-row2 {
    margin-left: 0 !important;
    margin-bottom: 10px;
  }

  .modal-title {
    padding-top: 10px;
    font-size: 20px;
  }

  .submit-btn {
    width: 100%;
  }
}
